@{
    Layout = null;
}

@model ML.Usuario
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link href="~/content/LogIn.css" rel="stylesheet" />

</head>


<body>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {




                <div class="login-page">
                    <div class="form">

                        <form class="login-form">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Usuario", type = "text" }) @*Caja de texto*@
                            @Html.TextBoxFor(model => model.Contrasenia, new { @class = "form-control", placeholder = "Password", type = "password" }) @*Caja de texto*@



                            <input type="submit" value="Iniciar sesión" />

                        </form>
                    </div>
                </div>



            }

        </div>
    </div>
